<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>
<body>

<!-- Header -->
<header class="shadow">

</header>
<!-- Main Content -->
<main class="container mx-auto px-4 py-10">
  {{ content }}
</main>

<!-- Footer -->
<footer class="bg-gray-800 text-white text-center py-4">
  <p>&copy; {{ site.time | date: "%Y" }} - {{ site.author }}</p>
</footer>

</body>
</html>